/* #4B2A3C */
/* #373541 */

.navbar {
    color: #ffffff;
    background-color: #4B2A3C;
}

main {
    padding-bottom: 100px;
}

.logo {
    padding-left: 30px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #ffffff;
}

h2 {
    color: #4B2A3C;
    font-size: 24px;
}

.container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 1em;
}

.card {
    height: max-content;
}


.button {
    color: black;
    background-color: #7fc374;
}

.button:hover {
    color: #4B2A3C;
}

a {
    color: #ffffff;
}

a:hover {
    color: #dbd9d4;
}


.footer {
    color: #ffffff;
    background-color: #4B2A3C;
    width: 100%;
    padding: 20px;
    position: fixed;
    bottom: 0px;
    left: 0px;
}

#hide {
    display: none;
}